@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1  class="display-4">
        <strong>Yazılım Geliştirme Akademisi</strong>

    </h1>
    <h1  class="display-4">
        <strong>Online Kütüphane </strong>

    </h1>
    <br/>
    
    <p> <img src="/img/bir_kutuphane_nasil_kurulur_h17751_0f96c.jpg"/></p>
    
</div>
