@{
    ViewData["Title"] = "İletişim Bilgileri";
}


<div class="text-center">
    <br/>
    <br/>
    <h1 style="color:green">@ViewData["Title"]</h1>
    <br/>
    <br/>
    <h3>Adres:</h3>
    <h4>Ihlamur Sokak Menekşe Apt. No:5 Çankaya/Ankara</h4>
    <br/>

    <h3>E-posta Adresimiz:</h3>
    <a href="mailto:turgay.199855@gmail.com">turgay.199855@gmail.com</a>
</div>



